<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               Proficient in Python and C/C++ with a heavy focus on deep learning and computer vision. Completed various academic projects in artificial intelligence, robotics and controls. A motivated and energetic employee who is looking to break into the technology industry. Possesses excellent communication skills with a breath of experience working in teams and thrives in a fast-paced dynamic environment.
            </p>
        </div>
    </section>
</div>
